In [1]:
import pandas as pd

In [13]:
data_ZP4 = pd.read_csv('/home/jan/Documents/Trainingsdaten/ZPs/ZP4/grid_size=874_threshold_porosity=125.csv')

In [14]:
data_ZP4

      Unnamed: 0  Slice  x-grid  y-grid  Position  Poren  num Black pixels
0              0    381       0       0         0      0                26
1              1    381       0       1         0      0                11
2              2    381       1       0         0      1               213
3              3    381       1       1         0      0                22
4              4    382       0       0         0      0                55
...          ...    ...     ...     ...       ...    ...               ...
4675        4675   1549       1       1         0      0                69
4676        4676   1550       0       0         0      0                 0
4677        4677   1550       0       1         0      0                47
4678        4678   1550       1       0         0      0                 1
4679        4679   1550       1       1         0      0                 0

[4680 rows x 7 columns]

In [15]:
data_ZP4[data_ZP4['Poren'] == 1]

      Unnamed: 0  Slice  x-grid  y-grid  Position  Poren  num Black pixels
2              2    381       1       0         0      1               213
13            13    384       0       1         0      1               271
31            31    388       1       1         0      1               156
38            38    390       1       0         0      1               132
57            57    395       0       1         0      1               177
...          ...    ...     ...     ...       ...    ...               ...
4666        4666   1547       1       0         0      1               228
4668        4668   1548       0       0         0      1               264
4669        4669   1548       0       1         0      1               375
4670        4670   1548       1       0         0      1               153
4673        4673   1549       0       1         0      1               216

[617 rows x 7 columns]

In [16]:
data_ZP1 = pd.read_csv('/home/jan/Documents/Trainingsdaten/ZPs/ZP1/grid_size=874_threshold_porosity=125.csv')

In [17]:
data_ZP1[data_ZP1['Poren'] == 1]

       Unnamed: 0  Slice  x-grid  y-grid  Position  Poren  num Black pixels
1               1    396       0       1         0      1               168
3               3    396       1       0         0      1               131
12             12    397       1       0         0      1               130
13             13    397       1       1         0      1               468
21             21    398       1       0         0      1               300
...           ...    ...     ...     ...       ...    ...               ...
10327       10327   1543       1       1         0      1               401
10336       10336   1544       1       1         0      1               188
10350       10350   1546       0       0         0      1               162
10378       10378   1549       0       1         0      1               263
10387       10387   1550       0       1         0      1               386

[707 rows x 7 columns]

In [18]:
data_ZP2 = pd.read_csv('/home/jan/Documents/Trainingsdaten/ZPs/ZP2/grid_size=874_threshold_porosity=125.csv')

In [19]:
data_ZP2[data_ZP2['Poren'] == 1]

       Unnamed: 0  Slice  x-grid  y-grid  Position  Poren  num Black pixels
1               1    400       0       1         0      1              1328
3               3    400       1       0         0      1               242
4               4    400       1       1         0      1               362
13             13    401       1       1         0      1               176
22             22    402       1       1         0      1               669
...           ...    ...     ...     ...       ...    ...               ...
10344       10344   1549       1       0         0      1               167
10345       10345   1549       1       1         0      1               456
10351       10351   1550       0       1         0      1               425
10353       10353   1550       1       0         0      1               142
10354       10354   1550       1       1         0      1               481

[1093 rows x 7 columns]

In [20]:
data_ZP3 = pd.read_csv('/home/jan/Documents/Trainingsdaten/ZPs/ZP3/grid_size=874_threshold_porosity=125.csv')

In [21]:
data_ZP3[data_ZP3['Poren'] == 1]

       Unnamed: 0  Slice  x-grid  y-grid  Position  Poren  num Black pixels
0               0    399       0       0         0      1               340
1               1    399       0       1         0      1               223
3               3    399       1       0         0      1               404
4               4    399       1       1         0      1               548
9               9    400       0       0         0      1               237
...           ...    ...     ...     ...       ...    ...               ...
10335       10335   1547       1       0         0      1               137
10342       10342   1548       0       1         0      1               916
10344       10344   1548       1       0         0      1               245
10351       10351   1549       0       1         0      1               706
10360       10360   1550       0       1         0      1               294

[1461 rows x 7 columns]

In [22]:
data_ZP5 = pd.read_csv('/home/jan/Documents/Trainingsdaten/ZPs/ZP5/grid_size=874_threshold_porosity=125.csv')
data_ZP5[data_ZP5['Poren'] == 1]

       Unnamed: 0  Slice  x-grid  y-grid  Position  Poren  num Black pixels
28             28    400       0       1         0      1               326
37             37    401       0       1         0      1               339
46             46    402       0       1         0      1               232
94             94    407       1       1         0      1               210
103           103    408       1       1         0      1               255
...           ...    ...     ...     ...       ...    ...               ...
10300       10300   1541       1       1         0      1               214
10335       10335   1545       1       0         0      1               266
10354       10354   1547       1       1         0      1               167
10363       10363   1548       1       1         0      1               128
10372       10372   1549       1       1         0      1               140

[584 rows x 7 columns]

In [23]:
data_ZP6 = pd.read_csv('/home/jan/Documents/Trainingsdaten/ZPs/ZP6/grid_size=874_threshold_porosity=125.csv')
data_ZP6[data_ZP6['Poren'] == 1]

      Unnamed: 0  Slice  x-grid  y-grid  Position  Poren  num Black pixels
0              0    348       0       0         0      1               397
1              1    348       0       1         0      1               137
2              2    348       1       0         0      1               279
3              3    348       1       1         0      1               158
4              4    349       0       0         0      1               492
...          ...    ...     ...     ...       ...    ...               ...
4792        4792   1546       0       0         0      1               151
4805        4805   1549       0       1         0      1               210
4806        4806   1549       1       0         0      1               258
4809        4809   1550       0       1         0      1               216
4810        4810   1550       1       0         0      1               269

[783 rows x 7 columns]

In [25]:
data_ZP7 = pd.read_csv('/home/jan/Documents/Trainingsdaten/ZPs/ZP7/grid_size=874_threshold_porosity=125.csv')
data_ZP7[data_ZP7['Poren'] == 1]

      Unnamed: 0  Slice  x-grid  y-grid  Position  Poren  num Black pixels
21            21    374       0       1         0      1               552
25            25    375       0       1         0      1               684
29            29    376       0       1         0      1               335
33            33    377       0       1         0      1               253
42            42    379       1       0         0      1               156
...          ...    ...     ...     ...       ...    ...               ...
4700        4700   1544       0       0         0      1               212
4704        4704   1545       0       0         0      1               506
4705        4705   1545       0       1         0      1               176
4708        4708   1546       0       0         0      1               544
4712        4712   1547       0       0         0      1               275

[572 rows x 7 columns]

In [27]:
data_ZP9 = pd.read_csv('/home/jan/Documents/Trainingsdaten/ZPs/ZP9/grid_size=874_threshold_porosity=125.csv')
data_ZP9[data_ZP9['Poren'] == 1]

       Unnamed: 0  Slice  x-grid  y-grid  Position  Poren  num Black pixels
0               0    376       0       0         0      1              1165
1               1    376       0       1         0      1               736
4               4    376       1       1         0      1               487
9               9    377       0       0         0      1               976
10             10    377       0       1         0      1               328
...           ...    ...     ...     ...       ...    ...               ...
10405       10405   1532       0       1         0      1               135
10414       10414   1533       0       1         0      1               192
10552       10552   1548       1       1         0      1               225
10561       10561   1549       1       1         0      1               243
10570       10570   1550       1       1         0      1               125

[550 rows x 7 columns]